@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html{
  height: 100%; 
  margin: 0; 
  box-sizing: border-box; 
}
body {
  font-family: 'Open Sans', sans-serif; 
  height: 100%; 
  margin: 0; 
}
.app-header{
  display: flex; 
  background-color: #c04a40;
}
#logOutButton {
  height: 40px;
  width: 100px;
  align-self: center;
  margin: 10px;
  border: none;
  background: transparent;
  color: rgba(248, 248, 248, 0.8); 
  font-size: .9rem;

}
#logOutButton:hover {
  cursor: pointer;
  color: rgba(248, 248, 248, 1); 
}
h3 {
  align-self: center;
  margin: 0;
  font-size: 1.25rem; 
  font-weight: 400; 
  width: 100%; 
  text-align: center;
  color: rgba(248, 248, 248, 0.8); 
}
#userPhoto{
  align-self: center; 
  width: 50px; 
  height: 40px; 
  margin: 0 2%;
  background-size: cover; 
  border-radius: 50%; 
}
#userName{
  font-size: .9rem;
  align-self: center; 
  color: rgba(248, 248, 248, 0.8); 
}

form {
  margin-top: 3vh; 
}  
#new-todo {
    border: 1px solid #ddd;
    height: 20px;
    border-radius: 5px;
}
.listContainer {
display: flex; 
flex-direction: column; 
/*align-items: center; */

}
.listItems {
  width: 50%; 
  padding: 15px; 
  border-bottom: 1px solid #292828; 
  list-style: none; 
}
#inputLabel {
  font-size: 1.2rem; 
  margin: 2vh; 
}
.itemContainer {
  display: flex; 
  justify-content: space-between; 
}
.itemContainer, .listItems, .toggleButton {
  padding: 1vh; 
  margin: 2vh 1vh; 
}
.wrapper {
  height: 100vh; 
  display: flex; 
}
#hamburger {
  display: none; 
}
.project-item{
  list-style-image: radial-gradient(circle, #c04a40, #222222);
}

@media screen and (max-width: 550px) {
  form {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  }
  form > input, label, button {
   margin: 5px 0px; 
  }
  
}

@media screen and (max-width: 720px) {
  #hamburger {
    cursor: pointer;
    display: block;
    font-size: 2rem;
    padding: 20px;
    color: rgb(255, 255, 255, .8);
  }
  .app-header {
    display: flex;
    background-color: #c04a40;
    flex-direction: row;
    align-items: center;
  }
  .listContainer {
    width: 100%; 
  }
  .listContainer > form {
    text-align: center; 
  }
  #userPhoto {
    width: 70px;
    height: 40px;
    
  }
}

@media screen and (max-width: 400px) {
  #userPhoto{
    width: 90px;
    height: 40px;
  }

 

}


