.modalBox {
    position: absolute;
    background:rgba(19,19,19,0.2);
    width: 100%; 
    height: 100vh; 
}
.inactive {
    display: none;
}
#modal-form {
    border: 1px solid gray;
    box-shadow: 1px 1px 1px black;
    overflow: hidden; 
    position: absolute; 
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 380px; 
    background-color: white; 
    border-radius: 5px; 
    z-index: 1;
}
#modal-header{
    width: 100%; 
    padding: 2vh 0vh; 
    font-size: 1.2rem; 
    font-weight: bold; 
    background-color: rgb(250, 250, 250); 
    border-bottom: 1px solid rgb(54, 52, 52, .4); 
}
#header-message {
    margin: 0 10%; 
}
.form-field {
    margin: 2vh 0vh; 
}
.form-field > input {
    border-radius: 5px; 
    border: 1px solid #ddd; 
    width: 80%;
    padding: 5px; 
    margin: 2.5% 10%;
}
.form-field > input:focus {
    border: 1px solid gray; 
    outline: none; 
}
.form-field > label {
    font-weight: 600;
    margin: 0% 10%; 
}
#modal-footer {
    width: 100%; 
    display: flex; 
    justify-content: flex-end; 
    padding: 2vh 0vh; 
    background-color: rgb(250, 250, 250); 
    border-top: 1px solid rgb(54, 52, 52, .4); 
}
footer > button {
    cursor: pointer; 
    margin: 0vh 1.5vh; 
    border-radius: 3px; 
    font-size: .8rem; 
    font-weight: bold;
    padding: 3% 4%; 
    
}
#modal-submit {
    background-color: #db4c3f;
    color: white; 
}
